.term-box {
  width: 300px;
  height: 350px;
  border: 2px solid #a3a3a3;
  border-radius: 10px;
  padding: 20px;
  background-color: #d1d1d1;
}

.term-image1 {
  float: left;
  margin-right: 30px;
  margin-left: 0px;
}

.term-image2 {
  float: right;
}

.term-explanation1 {
  font-size: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.term-explanation2 {
  margin-left: 0px;
  font-size: 20px;
}

.term-header {
  font-size: 20px;
  font-weight: bold;
  color: #2a6897;
  margin-bottom: 10px;
}
