.validation-link {
  display: flex;
  width:327px;
  background-color: #CCCCCC;
  border: none;
  border-radius: 30px;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 15px;
  color: black;
  text-decoration:none;
}

.validation-image {
  margin-right: 13px;
}